* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background-color: cadetblue;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box {
    height: 250px;
    width: 20%;
    font-size: 60px;
    font-weight: bold;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 {
    background-color: slateblue;
}
.box2 {
    background-color:orange;
}
.box3 {
    background-color:mediumvioletred;
}